:root {
    --mainColor: #EF8ABC;
    --lightColor: #eeb1c581;
    --darkerColor: #3e6c1e;
    --darkColor: #87ac6d;
    --whiteColor: #FFFFF9;
}

body {
    text-align: center;
    background-color: var(--whiteColor);
    width: 55vw;
    padding: 30px;
    margin: auto;
}

.wrapper {
    width: 30vw;
    margin: auto;
    padding: 30px;
    background-color: var(--lightColor);
}

h1 {
    color: var(--mainColor);
    font-family: 'Playpen Sans', cursive;
    margin: 0;
}

p {
    color: var(--darkerColor);
    font-family: 'Playpen Sans', cursive;
    margin: 40px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 5em;
    padding-left: 0;
    font-family: 'Playpen Sans', cursive;
}

a {
    color: var(--mainColor);
    background-color: var(--whiteColor);
    text-decoration: none;
    padding: 10px;
}

a:hover {
    color: var(--darkerColor);
    background-color: var(--darkColor);
    font-weight: bold;
}

input, button {
    font-family: 'Playpen Sans', cursive;
}

#outputName {
    margin-bottom: 0;
}