:root {
    --mainColor: #E4B8BB;
    --lightColor: #F6D5D6;
    --darkColor: #A27575;
    --whiteColor: #ffffff;
    --blackColor: #000000;
}

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/*pc ver.*/
@media(orientation: landscape) {
    .wrapper {
        width: 100%;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.7fr repeat(3, 0.5fr);
        grid-template-areas:
            "main main"
            "intr port"
            "educ work"
            "cont cont";
    }

    #main {
        grid-area: main;
        position: relative;
        background-image: url(background.PNG);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .text {
        position: absolute;
        top: 15%;
        left: 28%;
    }

    #scroll {
        position: absolute;
        top: 150%;
        left: 15%;
    }

    #intro {
        grid-area: intr;
    }

    #portrait {
        grid-area: port;
        height: 50%;
    }

    #intro, #portrait {
        padding-top: 20vw;
    }

    #education, #work {
        background-image: url(background.PNG);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    #education {
        grid-area: educ;
    }

    #work {
        grid-area: work;
    }

    #contents {
        grid-area: cont;
        padding-top: 3vw;
    }

    #contents ul {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
    }

    #contents ul a {
        color: var(--whiteColor);
        background-color: var(--mainColor);
        flex: 1;
        padding: 3vw;
        margin: 3vw;
    }

    #contents ul a:hover {
        background-color: var(--lightColor);
    }

    nav {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: var(--mainColor);
        width: 100%;
    }

    nav ul {
        display: flex;
        justify-content: left;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
    }

    nav ul a {
        color: var(--whiteColor);
        text-decoration: none;
        padding: 1vw;
        width: 8vw;
        text-align: center;
    }

    nav ul a:hover {
        color: var(--lightColor);
    }

    .logo {
        height: 6vh;
    }

    h1, h2, p {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    h1, h2 {
        font-family: 'Petit Formal Script', cursive;
    }

    h1 {
        font-size: 5vw;
    }

    h2 {
        font-size: 3vw;
    }

    h3, dt {
        font-size: 2vw;
    }

    p {
        margin-top: 5vw;
        font-size: 1.5vw;
    }

    a, dd {
        font-size: 1.5vw;
        text-decoration: none;
    }

    dt, dd {
        padding-left: 10%;
    }

    dt {
        margin-top: 3%;
    }

    .aboutme {
        margin-bottom: 5%;
    }

    #gallery img {
        height: 40vh;
        margin: 4vw;
    }

    table {
        width: 100%;
        border: 3px solid var(--mainColor);
        color: var(--whiteColor);
        background-color: var(--lightColor);
        font-size: 1.5vw;
    }

    thead {
        border-collapse: collapse;
    }

    td {
        padding: 1em;
        width: 7em;
        max-width: 7em;
        border: 2px solid var(--mainColor);
    }
}

/*tlf ver.*/
@media(orientation: portrait) {
    .wrapper {
        width: 100%;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
            "main"
            "intr"
            "port"
            "educ"
            "work"
            "cont";
    }

    #main {
        grid-area: main;
        position: relative;
        background-image: url(background.PNG);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .text {
        position: absolute;
        left: 5%;
    }

    #scroll {
        position: absolute;
        top: 250%;
        left: 20%;
    }

    #intro {
        grid-area: intr;
        padding-top: 40vw;
    }

    #portrait {
        grid-area: port;
        height: 50%;
    }

    #education, #work {
        background-image: url(background.PNG);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding-top: 40vw;
    }

    #education {
        grid-area: educ;
    }

    #work {
        grid-area: work;
    }

    #contents {
        grid-area: cont;
        padding-top: 40vw;
    }

    #contents ul {
        padding-left: 0;
    }

    #contents ul a {
        display: flex;
        flex-direction: column;
        color: var(--whiteColor);
        background-color: var(--lightColor);
        padding: 5vw;
        margin: 5vw;
    }

    #contents ul a:hover {
        background-color: var(--mainColor);
    }

    nav {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: var(--mainColor);
        width: 100%;
    }

    nav ul {
        display: flex;
        justify-content: left;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
    }

    nav ul a {
        color: var(--whiteColor);
        text-decoration: none;
        padding: 5vw;
        width: 20vw;
        text-align: center;
    }

    .logo {
        height: 6vh;
    }

    h1, h2, p {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    h1, h2 {
        font-family: 'Petit Formal Script', cursive;
    }

    h1 {
        font-size: 15vw;
    }

    h2 {
        font-size: 7vw;
    }

    h3, dt {
        font-size: 8vw;
    }

    p, td {
        margin-top: 5vw;
        font-size: 5vw;
    }

    a, dd {
        font-size: 6vw;
        text-decoration: none;
    }

    dt, dd {
        padding-left: 10%;
        margin: 0;
    }

    .aboutme {
        margin-bottom: 5%;
    }

    #gallery img {
        height: 40vh;
        margin: 4vw;
        align-items: center;
    }

    table {
        width: 100vw;
        border: 3px solid var(--mainColor);
        color: var(--whiteColor);
        background-color: var(--lightColor);
        font-size: 6vw;
    }

    thead {
        border-collapse: collapse;
    }

    td {
        padding: 1em;
        width: 7em;
        max-width: 7em;
        border: 2px solid var(--mainColor);
    }
}